.MoreStories{
  height: 170px;
  width: 90%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
}

.titleContainer p,
.titleContainer h4{
  text-align: left;
}

.titleContainer h4{
  font-weight: 600;
  padding-right: 10px;
  margin-top: 2px;
}

.titleContainer p{
  font-size: 12px;
  margin-top: 0px;
}


.titleContainer a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}


.imgContainer{
  order: 3;
  border-radius: 10px;
  float: right;
}


.imgContainer img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

@media (min-width:765px) {

  .MoreStories{
    width: 55%;
  }

}
