.NavItem{
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
}

.NavItem a{
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active{
  background:lightblue;
  border-bottom:  4px solid white;
  color: white;
}
